.footer {
  background-color: #2c5936;
  display: flex;
  flex-direction: column;
  margin-top: 36px;
  padding: 8px;
}

.footer__text-box {
  display: flex;
  gap: 168px;
  margin-top: 8px;
}

.footer__logo-branco {
  width: 80px;
  margin-left: 12px;
}

.footer__logo-text {
  color: #ffffff;
  margin: 0;
  max-width: 140px;
  text-align: center;
  font-size: 12px;
}

.footer__contact__title {
  font-size: 12px;
  color: #a5d94e;
  font-weight: bold;
  margin: 12px 0 4px;
}

.footer__contact__text {
  font-size: 12px;
  color: #ffffff;
  font-weight: bold;
  margin: 12px 0 4px;
}

.footer__contact__info {
  font-size: 12px;
  color: #ffffff;
}

.footer__copy-right {
  color: #ffffff;
  text-align: center;
  margin-top: 8px;
  font-size: 12px;
}

.footer__social-icons {
  margin-top: 16px;
  color: #ffffff;
  display: flex;
  gap: 12px;
}

@media screen and (max-width: 544px) {
  .footer__text-box {
    display: flex;
    justify-content: space-around;
    gap: 12px;
    margin-top: 8px;
  }

  .footer__logo-branco {
    width: 52px;
    margin-left: 12px;
  }

  .footer__logo-text {
    font-size: 8px;
  }

  .footer__contact__title {
    font-size: 10px;
  }

  .footer__contact__text {
    font-size: 8px;
  }

  .footer__contact__info {
    font-size: 8px;
  }

  .footer__copy-right {
    font-size: 10px;
  }

  .footer__social-icons {
    margin-top: 14px;
  }
}
