.login {
  max-width: 358px;
  width: 100%;
  text-align: center;
  margin: 60px auto;
}

.login__welcome {
  width: 358px;
  height: 29px;
  opacity: 1;
  font-family: Inter;
  color: #2c5936;
  font-weight: 900;
  font-size: 24px;
  line-height: 100%;
  text-align: center;
}

.login__form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
  width: 80%;
  margin-top: 12px;
}

.register__form label {
  margin-top: 12px;
  margin-bottom: 6px;
}

.login__form input {
  height: 34px;
  border: none;
  border: 1px solid #c0ea78;
  background-color: #d6f3a5;
  color: #2c5936;
}

#email,
#password {
  margin: 24px 0 16px;
}

.login__button {
  width: 286px;
  height: 50px;
  margin: 42px 0 7px;
  padding: 0;
  opacity: 1;
  border-radius: 2px;
  font-family: Inter;
  font-weight: 400;
  font-size: 18px;
  line-height: 100%;
  color: #ffffff;
  text-align: center;
  box-sizing: border-box;
  background-color: #2c5936;
  border: none;
  cursor: pointer;
  transition: opacity 0.3s;
}

.login__signup {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  color: #2c5936;
  gap: 5px;
}

.login__signin p {
  margin: 0;
  font-family: Inter;
  font-size: 14px;
}

.login__login-link {
  text-decoration: none;
  font-family: Inter;
  font-size: 16px;
  font-weight: bold;
  color: #2c5936;
}
